/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del logo */
.logo-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%; /* Ancho del contenedor del logo al 90% del ancho de su contenedor */
    max-width: 1000px; /* Ancho máximo del contenedor del logo si es más pequeño que el 90% de su contenedor */
}

#logo {
    width: 100%; /* Ancho del logo al 100% del contenedor */
    max-width: 100vw; /* Ancho máximo del logo al 100% del ancho de la pantalla */
    height: auto; /* Altura automática para mantener la proporción */
    transition: opacity 0.5s ease-in-out;
}

/* Resto de los estilos */
header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 220px; /* Ajusta según el tamaño del logo */
}

nav {
    background-color: #ccc; /* Cambia el color a gris */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 200px;
    width: 30%;
    margin-bottom: 20px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image:hover .overlay {
    opacity: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px; /* Ajusta el espaciado interno según sea necesario */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px; /* Ajusta la altura según sea necesario */
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px; /* Ajusta el margen entre elementos según sea necesario */
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
